@import './mixins.scss';
@import './colors.scss';

.cart-popup {
    position: absolute;
    background-color: $light-grayish-blue;
    width: 90%;
    height: 200px;
    top: 70px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
    border-radius: 10px;

}

.cart-title {
   padding: 10px; 
}

.cart-content {
    @include flex-row;
    justify-content: center;
    align-items: center;
    height: 80%;

}

.empty {
    
}