@import './mixins.scss';
@import './colors.scss';

.information-section {
    @include flex-col;
    padding: 20px;
    row-gap: 20px;
}

.company {
    color: $pr-orange;
    font-size: 0.8rem;
    letter-spacing: 1px;
}

.product-image-section {
    position: relative;
}

.product-image {
    width: 100%;
}

.arrow {
    position: absolute;
    padding: 10px;
    height: 30px;
    width: 30px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    
}

#prev {
    top: 50%;
    left: 5%;
}

#next {
    top: 50%;
    right: 5%;
}

.pricing {
    @include flex-row; 
    column-gap: 10px;
    align-items: center;
}

.description {
    color: $dark-grayish-blue;
}

.deal {
    color: $pr-orange;
    padding: 5px;
    background-color: $pr-pale-orange;
    border-radius: 5px;
    font-weight: bold;
}

.og-price {
    color: $grayish-blue;
    margin-left: auto;
    text-decoration: line-through;
}

.button-group {
    @include flex-col;
    margin: 0 auto;
    width: 90%;
    justify-content: space-evenly;
    row-gap: 10px;
   
    button {
        @include flex-row;
        height: 40px;
        border-radius: 10px
    }
}

.amount {
    
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: $light-grayish-blue;

    img {
        cursor: pointer;
    }
}


.add-to-cart {
    color: white;
    background-color: $pr-orange;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    cursor: pointer;
}

@media screen and (min-width: 600px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
        max-width: 1024px;
        margin: 0 auto;
        position: relative;
        top: 100px;
    }

    .arrow {
        display: none;
    }

    .product-image-section {
        width: 300px;
    }

    .product-image {
        border-radius: 10px;
    }
}
