@import './mixins.scss';
@import './colors.scss';

.company {
    color: $pr-orange;
    font-size: 0.8rem;
    letter-spacing: 1px;
}

.product-image {
    width: 100%;
}

.pricing {
    @include flex-row; 
    column-gap: 10px;
    align-items: center;
}

.deal {
    color: $pr-orange;
    padding: 5px;
    background-color: $pr-pale-orange;
    border-radius: 5px;
    font-weight: bold;
}

.og-price {
    color: $grayish-blue;
    margin-left: auto;
    text-decoration: line-through;
}

.button-group {
    @include flex-col;
    margin: 0 auto;
    
}